<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv=Content-Type>
    <style type='text/css'>
        .tbl { border-top:1px solid #bbbbbb; }
        .tbl tr td { height: 25px; font-family: 'Arial'; font-size: 11px; color: #666666; text-align: center; border-bottom:1px solid #bbbbbb; border-left:1px solid #bbbbbb; }
        .tbl tr th { height: 25px; font-family: 'Arial'; font-size: 11px; color: red; font-weight: bold; text-align: center; border-bottom:1px solid #bbbbbb; border-left:1px solid #bbbbbb; border-right:1px solid #bbbbbb; background-color: #f3f3f3; }
        .border_last { border-right:1px solid #bbbbbb; }
    </style>
</head>
<body>
    <table class=tbl cellspacing=0 cellpadding=0>
        <tr><th width=448 colspan=2>
            <p align=left>&nbsp;%%ALARM_DESC%% [%%ALARM_ID%%]</span></p></th></tr>
        <tr><td width=88><p align=center>Factory</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%FACTORY%%</p></td></tr>
        <tr><td width=88><p align=center>Alarm ID</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%ALARM_ID%%</p></td></tr>
        <tr><td width=88><p align=center>Alarm Type</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%ALARM_TYPE%%</p></td></tr>
        <tr><td width=88><p align=center>Alarm Level</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%ALARM_LEVEL_FLAG%%</p></td></tr>
        <tr><td width=88><p align=center>Tran Time</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%TRAN_TIME%%</p></td></tr>
        <tr><td width=88><p align=center>Alarm Subject</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%ALARM_SUBJECT%%</p></td></tr>
        <tr><td width=88><p align=center>Alarm Msg</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%ALARM_MSG%%</p></td></tr>
        <tr><td width=88><p align=center>Alarm Comment 1</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%ALARM_COMMENT_1%%</p></td></tr>
        <tr><td width=88><p align=center>Alarm Comment 2</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%ALARM_COMMENT_2%%</p></td></tr>
        <tr><td width=88><p align=center>Alarm Comment 3</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%ALARM_COMMENT_3%%</p></td></tr>
        <tr><td width=88><p align=center>Alarm Comment 4</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%ALARM_COMMENT_4%%</p></td></tr>
        <tr><td width=88><p align=center>Alarm Comment 5</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%ALARM_COMMENT_5%%</p></td></tr>
        <tr><td width=88><p align=center>Lot ID</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%LOT_ID%%</p></td></tr>
        <tr><td width=88><p align=center>Lot Qty</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%LOT_QTY%%</p></td></tr>
        <tr><td width=88><p align=center>Res ID</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%RES_ID%%</p></td></tr>
        <tr><td width=88><p align=center>Up/Down Flag</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%RES_UP_DOWN_FLAG%%</p></td></tr>
        <tr><td width=88><p align=center>Primary Status</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%RES_PRI_STS%%</p></td></tr>
        <tr><td width=88><p align=center>Source ID 1</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%SOURCE_ID_1%%</p></td></tr>
        <tr><td width=88><p align=center>Source Desc 1</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%SOURCE_DESC_1%%</p></td></tr>
        <tr><td width=88><p align=center>Source ID 2</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%SOURCE_ID_2%%</p></td></tr>
        <tr><td width=88><p align=center>Source Desc 2</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%SOURCE_DESC_2%%</p></td></tr>
        <tr><td width=88><p align=center>Source ID 3</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%SOURCE_ID_3%%</p></td></tr>
        <tr><td width=88><p align=center>Source Desc 3</p></td><td class='border_last' width=360>
            <p align=left>&nbsp;%%SOURCE_DESC_3%%</p></td></tr>
    </table>
</body>
</html>